<div [style.width]="'100%'" [style.height]="'250px'" [style.backgroundColor]="'lightgreen'" class='d-flex flex-column justify-content-center align-items-center text-white'>
  <div class="footer-div d-flex justify-content-evenly w-100 flex-wrap">
    <div class="website" [style.width]="'400px'">
      <h4> D-Cart</h4>
      <h6>Designed and built with all the love in the world by the Luminar team with the help of our contributors.</h6>
      <h6>Code Licensed Luminar, docs CCBY 3.0</h6>
      <p class='text-secondary'>Currently v1.0.0.</p>
    </div>
    <div class="links d-flex flex-column">
      <h4>Links</h4>
      <a [routerLink]="'/'" style="text-decoration:none; color:white">Cart</a>
      <a [routerLink]="'/'" style="text-decoration:none; color:white">Wishlist</a>
      <a [routerLink]="'/'" style="text-decoration:none; color:white">Contact</a>
    </div>
    <div class="guides d-flex flex-column">
      <h4>Guides</h4>
      <a [href]="'https://react.dev/'" style="text-decoration:none; color:white">React</a>
      <a [href]="'https://react-bootstrap.github.io/'" style="text-decoration:none; color:white">React Bootstrap</a>
      <a [href]="'https://www.w3schools.com/react/react_router.asp'" style="text-decoration:none; color:white">Routing</a>
    </div>
    <div class="contact">
      <h4>Contact Us</h4>
      <div class="sub d-flex">
        <input type="text" class='form-control' placeholder='Enter your Email Id' />
        <button class='btn btn-warning ms-2'><i class="fa-solid fa-arrow-right d-flex align-items-center p-1 justify-content-center"></i></button>
      </div>
      <div class="icons fs-4 d-flex justify-content-evenly mt-3">
        <a [href]="'https://mail.google.com/'" style="text-decoration:none; color:white"><i class="fa-solid fa-envelope"></i></a>
        <a [href]="'https://www.twitter.com/'" style="text-decoration:none; color:white"><i class="fa-brands fa-twitter"></i></a>
        <a [href]="'https://www.linkedin.com/'" style="text-decoration:none; color:white"><i class="fa-brands fa-linkedin"></i></a>
        <a [href]="'https://www.instagram.com/'" style="text-decoration:none; color:white"><i class="fa-brands fa-instagram"></i></a>
        <a [href]="'https://www.github.com/'" style="text-decoration:none; color:white"><i class="fa-brands fa-github"></i></a>
        <a [href]="'https://www.facebook.com/'" style="text-decoration:none; color:white"><i class="fa-brands fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <p class='text-secondary'>Copyright © 2023 Tee-shirt-store. Built with Angular.</p>
</div>
